<!-- @format -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'dashboard/assets/adronhomesLogo.png' %}  >
		<link rel="stylesheet" href="{% static 'homeowner/css/general.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	</head>
	<body>
		{% include 'navbarhomeowner.html' %} {% block content %}{% endblock content %}
		<script src={% static 'homeowner/js/main.js' %}></script>
    </body>
</html>