{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./images/1.png" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static 'dashboard/assets/adronhomesLogo.png' %}  >
    <link rel="stylesheet"  href={% static 'useronboardstatic/login/css/style.css' %}  >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <title>Login | Adron Homes</title>
</head>
<body>
    <main>
        <div class='main'>
            <div class='sideimg'>
                <img src={% static 'useronboardstatic/img/tenant1.jpg' %} />
            </div>
            <div>
                <div class='logo1'>
                    <img src={% static 'dashboard/assets/adronhomesLogo.png' %}  >
                </div><br/><br/>
                <div class='loginassection'>
                    <blockquote>
                        "We are celebrating 11 years of building a strong & formidable real estate experience" <br/>- Adron Homes
                    </blockquote>
                    <button class='homeownerbtn'>Home Owner</button>
                    <button class='tenantbtn'>Tenant</button>
                </div>
                {% comment %} <form method = "POST">
                    {% csrf_token %}
                    <div>
                        <label>Enter Your Email Adress</label><br/>
                        <input type='email' placeholder ='eg: tundebaba@gmail.com' />
                    </div>
                    <div>
                        <label>Enter Your Email Adress</label><br/>
                        <input type='email' placeholder ='eg: tundebaba@gmail.com' />
                    </div><br/><br/>
                    <button>Submit</button>
                </form> {% endcomment %}
            </div>
        </div>
        {% comment %} HOME OWNER MODAL SECTION STARTS HERE {% endcomment %}
        <div class='homeownerssection'>
            <div class='logo'>
                <img src={% static 'dashboard/assets/adronhomesLogo.png' %}  >
            </div><br/>
            <div class='homeownermodal'>
                <div class='homeownermodalinner'>
                    <div>
                        <img src={% static 'useronboardstatic/img/tenant1.jpg' %} />
                    </div>
                    <div class='homeownermodalform'>
                        <form method = "POST">
                            <h3>Home Owners Access Panel</h3>
                            {% csrf_token %}
                            <div>
                                <label>Enter Your Email Address</label><br/>
                                <input type='email' placeholder ='eg: tundebaba@gmail.com' />
                            </div>
                            <div>
                                <label>Enter Your Password</label><br/>
                                <input type='password' placeholder ='***' />
                            </div><br/>
                            <button type='submit'>Submit</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        {% comment %} HOME OWNER MODAL SECTION ENDS HERE {% endcomment %}


        {% comment %} TENANTS MODAL SECTION STARTS HERE {% endcomment %}
        <div class='tenantssection'>
            <div class='logo'>
                <img src={% static 'dashboard/assets/adronhomesLogo.png' %}  >
            </div><br/>
            <div class='homeownermodal'>
                <div class='homeownermodalinner'>
                    <div>
                        <img src={% static 'useronboardstatic/img/tenant2.jpg' %} />
                    </div>
                    <div class='homeownermodalform'>
                        <form method = "POST">
                            <h3>Tenants Access Panel</h3>
                            {% csrf_token %}
                            <div>
                                <label>Enter Your Email Address</label><br/>
                                <input type='email' placeholder ='eg: miriamjustine@gmail.com' />
                            </div>
                            <div>
                                <label>Enter Your Password</label><br/>
                                <input type='password' placeholder ='***' />
                            </div><br/><br/>
                            <button type='submit'>Submit</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        {% comment %} TENANTS MODAL SECTION ENDS HERE {% endcomment %}
    </main>
    <script src={% static 'useronboardstatic/login/js/main.js' %}></script>
</body>
</html>