{% include 'general.html' %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./images/1.png" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href={% static 'dashboard/assets/adronhomesLogo.png' %}  >
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Adron Homes[Mgt]</title>
</head>
<body>
    <main>
        <div class="topmain">
            <div class="incomeandrevnue">
                <div class="transactionsummary">
                    <p>Transactions Summary</p>
                    <div class="transactionsummaryinner">
                        <select>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                        <button>Reload</button>
                    </div>
                </div>
                <div class="revenueoutter">
                    <div class="money revenue">
                        <div>
                            <img src={% static 'dashboard/assets/naira.png' %} />
                        </div>
                        <div>
                            <h2>₦22M</h2>
                            <p>Total Revenue</p>
                        </div>
                    </div>
                    <div class="money revenue">
                        <div>
                            <img src={% static 'dashboard/assets/income.png' %} />
                        </div>
                        <div>
                            <h2>₦15M</h2>
                            <p>Total Income</p>
                        </div>
                    </div>
                </div>
                <!-- GRAPH STARTS HERE -->
                <div class="graphsection">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                    <button>Edit Data</button>
                </div>
            </div>
            <div class="salesanalyticsmain">
                <div class="salesanalytics">
                    <p>Sales Analytics</p>
                    <select>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
                <div class="graphsection">
                    <div class="salestotal">
                        Total: ₦403M
                    </div>
                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>
                    <button>Edit Data</button>
                </div>
            </div>
            <!-- Listing section starts here -->
            <div class="listingboardmain">
                <div class="listngsbuttons">
                    <div>
                        <p>Listing Board</p>
                    </div>
                    <div  class="listngsbuttons2">
                        <div>
                            <button>Recent Listed</button>
                        </div>
                        <div>
                            <button>Pending List</button>
                        </div>
                    </div>
                </div>
                <div class="residencelist">
                    <div class="residencelist1">
                        <div class="residencelist1img">
                            <div class="residencelist1imginner"><small></small>Property Listed On 5 Minutes Ago</small></div>
                            <img src={% static 'dashboard/assets/residence1.PNG' %} />
                        </div>
                        <div class="propertydata">
                            <p> Property Details Below:</p>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/naira.png' %} />
                                    </div>
                                    <div>
                                        <strong>Price: </strong> <br/>₦6, 000, 000 <br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertysize.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Size:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertyarea.png' %} />
                                    </div>
                                    <div>
                                        <strong>Land Area:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/status.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Status:</strong>  <br/>For Sale<br/>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="residencelist">
                    <div class="residencelist1">
                        <div class="residencelist1img">
                            <div class="residencelist1imginner"><small></small>Property Listed On 25 Minutes Ago</small></div>
                            <img src={% static 'dashboard/assets/residence2.PNG' %} />
                        </div>
                        <div class="propertydata">
                            <p> Property Details Below:</p>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/naira.png' %} />
                                    </div>
                                    <div>
                                        <strong>Price: </strong> <br/>₦6, 000, 000 <br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertysize.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Size:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertyarea.png' %} />
                                    </div>
                                    <div>
                                        <strong>Land Area:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/status.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Status:</strong>  <br/>For Sale<br/>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="residencelist">
                    <div class="residencelist1">
                        <div class="residencelist1img">
                            <div class="residencelist1imginner"><small></small>Property Listed On 5 Minutes Ago</small></div>
                            <img src={% static 'dashboard/assets/residence3.PNG' %} />
                        </div>
                        <div class="propertydata">
                            <p> Property Details Below:</p>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/naira.png' %} />
                                    </div>
                                    <div>
                                        <strong>Price: </strong> <br/>₦6, 000, 000 <br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertysize.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Size:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/propertyarea.png' %} />
                                    </div>
                                    <div>
                                        <strong>Land Area:</strong>  <br/>560 Sq Meters<br/>
                                    </div>
                                </div>
                                <div class="propertydatamaindata">
                                    <div>
                                        <img src={% static 'dashboard/assets/status.png' %} />
                                    </div>
                                    <div>
                                        <strong>Property Status:</strong>  <br/>For Sale<br/>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing section ends here -->
        </div>


        

        <!-- SECTION FOR RECENTLY SOLD PROPERTIES STARTS HERE -->
        <div class="propertysalesouter">
            <div class="propertysales">
                <div class="property">
                    <p>Recently Sold Properties</p>
                    <select>
                        <option value="Jan">Jan</option>
                        <option value="Feb.">Feb.</option>
                        <option value="March">Mar.</option>
                        <option value="April">Apr.</option>
                        <option value="May">May</option>
                        <option value="June">Jun.</option>
                        <option value="July">Jul.</option>
                        <option value="August">Aug.</option>
                        <option value="September">Sept.</option>
                        <option value="October">Oct.</option>
                        <option value="November">Nov.</option>
                        <option value="December">Dec.</option>
    
                    </select>
                </div>
                <table id="customers">
                    <tr>
                      <th>Property Name</th>
                      <th>Date</th>
                      <th>Price(₦)</th>
                      <th>Aquisition Status</th>
                    </tr>
                    <tr>
                      <td>The Next RealEstateThe Next RealEstate</td>
                      <td>04/02/2023</td>
                      <td>21,000,000</td>
                      <td>
                        <button class="paid">Paid</button>
                      </td>
                    </tr>
                    <tr>
                      <td>The Next RealEstate</td>
                      <td>04/02/2023</td>
                      <td>21,000,000</td>
                      <td>
                        <button class="pending">Pending</button>
                      </td>
                    </tr>
                    <tr>
                      <td>The Next RealEstate</td>
                      <td>04/02/2023</td>
                      <td>21,000,000</td>
                      <td>
                        <button class="paid">Paid</button>
                      </td>
                    </tr>
                    <tr>
                      <td>The Next RealEstate</td>
                      <td>04/02/2023</td>
                      <td>21,000,000</td>
                      <td>
                        <button class="pending">Pending</button>
                      </td>
                    </tr>
                </table>
                </table>
            </div>
            <div class="newtenants">
                <div>
                    <p>New Tenants</p>
                </div>
                <div>
                    <div class="client">
                        <div class="clientinner">
                            <img src={% static 'dashboard/assets/man.jpg' %} />
                            <div class="clientname">
                                <a href="#" title="Click To See Tenant's Profile"><h3>John Carter</h3></a>
                                <p>Civil Engineer</p>
                            </div>
                        </div>
                        <div class="reachclient">
                            <img src={% static 'dashboard/assets/call.png' %} /><br/>
                            <img src={% static 'dashboard/assets/chat.png' %} />
                        </div>
                    </div>
                    <div class="client">
                        <div class="clientinner">
                            <img src={% static 'dashboard/assets/man2.jpg' %} />
                            <div class="clientname">
                                <a href="#" title="Click To See Tenant's Profile"><h3>Alex Randy</h3></a>
                                <p>Pilot</p>
                            </div>
                        </div>
                        <div class="reachclient">
                            <img src={% static 'dashboard/assets/call.png' %} /><br/>
                            <img src={% static 'dashboard/assets/chat.png' %} />
                        </div>
                    </div>
                    <div class="client">
                        <div class="clientinner">
                            <img src={% static 'dashboard/assets/man3.jpg' %} />
                            <div class="clientname">
                                <a href="#" title="Click To See Tenant's Profile"><h3>Okafor Justice</h3></a>
                                <p>Politician</p>
                            </div>
                        </div>
                        <div class="reachclient">
                            <img src={% static 'dashboard/assets/call.png' %} /><br/>
                            <img src={% static 'dashboard/assets/chat.png' %} />
                        </div>
                    </div>
                    <div class="client">
                        <div class="clientinner">
                            <img src={% static 'dashboard/assets/man.jpg' %} />
                            <div class="clientname">
                                <a href="#" title="Click To See Tenant's Profile"><h3>John Carter</h3></a>
                                <p>Civil Engineer</p>
                            </div>
                        </div>
                        <div class="reachclient">
                            <img src={% static 'dashboard/assets/call.png' %} /><br/>
                            <img src={% static 'dashboard/assets/chat.png' %} />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION FOR RECENTLY SOLD PROPERTIES ENDS HERE -->
    </main>
    <!-- FOOTER STARTS HERE -->
    <footer>
        <div>
            <div>
                <img src={% static 'dashboard/assets/adronhomesLogo.png' %} />
            </div><br/>
            <div class="footerintro">
                <h3>About Adron Homes</h3>
                <p>We Are Daily Driven To Keep Our Promise Providing Affordable Housing Products With A Singular Mission To Exceed Expectations</p>
            </div>
        </div>
        <div class="fotterinner">
            <div class="contactnote">
                <h3>Contact Us</h3><br/>
                <p>For complaints or enquiries, you can reach us via any of the numbers below or visit our head office  </p>
            </div>
            <div>
                <div class="contactadronhomes">
                <img src={% static 'dashboard/assets/office.png' %} />
                <p>75B Adeyemo Akapo, Omoele Phase 1. Ikeja, Lagos State</p>
                </div>
                <div class="contactadronhomes">
                    <img src={% static 'dashboard/assets/call2.png' %} />
                    <p>+234 905 8590 355</p>
                </div>
                <div class="contactadronhomes">
                    <img src={% static 'dashboard/assets//mail.png' %} />
                    <p>clientservice@adronhomespropertities.com</p>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- FOOTER ENDS HERE -->






    <!-- Income and revenue GRAPH JS FILE STARTS HERE -->
    <script>
        const ctx = document.getElementById('myChart');
        
        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Amount In Million',
                data: [100, 98, 120, 85, 72, 103, 100, 98, 120, 85, 72, 103],
                borderWidth: 1,
                backgroundColor: ['#5b7d05', '#cff908'],
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
    </script>
    <!-- Income and revenue  GRAPH JS FILE ENDS HERE -->

    <!-- sales analytics GRAPH JS FILE STARTS HERE -->
    <script>
        const ctx2 = document.getElementById('myChart2');
        
        new Chart(ctx2, {
            type: 'pie',
            data: {
            labels: ['Website', 'Adverts', 'Sales Agents', 'Web App'],
            datasets: [{
                label: 'Amount In Million',
                data: [100, 98, 120, 85],
                borderWidth: 1,
                backgroundColor: ['#5b7d05', '#cff908', 'darkgrey', 'grey'],
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
    </script>
    <!-- sales analytics  GRAPH JS FILE ENDS HERE -->
    <script src="main.js"></script>
</body>
</html>